#blog{
    width: 80vw;
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 1000px;
}

.blog-tile{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 2px solid #E0E0E0;
    padding-bottom: 20px;
}
.blog-heading h2{
    font-weight: 500;
}
.blog-meta{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.blog-date{
    font-size: 1.2em;
    font-weight: 400;
}
.blog-type{
    font-size: 1.2em;
    color: #8695A4;
}