#blog{
    width: 80vw;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 1000px;
    min-width: 320px;
}

.blog-tile{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 2px solid #E0E0E0;
    padding-bottom: 20px;
}
.blog-heading h2{
    font-weight: 500;
}
.blog-meta{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.blog-date{
    font-size: 1.2em;
    font-weight: 400;
}
.blog-type{
    font-size: 1.2em;
    color: #8695A4;
}
@media screen and (max-width: 922px) {

    
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-height: 667px) {
    
    
}
@media screen and (max-width: 400px) {
    .blog-date{
        font-size: 1em;
        font-weight: 400;
    }
    .blog-type{
        font-size: 1em;
        color: #8695A4;
    }
}