@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-text-color: #21243D;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{font-family: "Roboto", sans-serif; color: var(--primary-text-color); overflow-x: hidden;}

a{text-decoration: none; color: var(--primary-text-color);}

.button{padding: 10px 20px; background-color: #FF6464; border: 0px; font-family: "Roboto", sans-serif; color: #fff; font-weight: 500; font-size: 1.25em; cursor: pointer; border-radius: 4px;}
.button:active{background-color: #ff4141;}

/* Navigation */
#navigation {
    position: sticky;
    top: 0;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 1000;
}

#page-nav {
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    width: 90vw; 
    margin: 0 auto;
}

#mobile-nav {
    display: none;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    width: 90vw;
    font-weight: 500;
}

#mobile-ul {
    position: absolute;
    top: 50px;
    right: 0;
    list-style: none;
    display: none; /* Hidden by default */
    flex-direction: column;
    background-color: #ffffffe6;
    width: 100vw;
    backdrop-filter: blur(2px);
}

#page-nav ul {
    list-style-type: none;
}

#mobile-ul.visible {
    display: flex; /* Show mobile menu when 'visible' class is added */
}

#menu, #close {
    height: 30px;
    width: 30px;
}

#close {
    display: none; /* Initially hidden */
}
#mobile-nav-exit{
    position: absolute;
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
#mobile-nav-exit.visible{
    display: block;
}
#page-nav li, #mobile-nav li {
    padding: 20px 20px; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
}

#page-nav a {
    text-decoration: none; 
    color: #000; 
    font-weight: 500;
}
.active-nav {
    color: #FF6464 !important;
}
/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    width: 100vw;
    height: 200px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 60px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 922px) {
    #navigation{
        padding: 10px 20px;
    }
    #page-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }
}

/* (576, 768, 992,1200,1440,1600) */


