/* Home Section */
#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    max-height: 1000px;
    margin-bottom: 40px;
}


#home {
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    max-width: 1000px;
    padding: 20px;
}

#pfp {
    border-radius: 50%;
    width: 280px;
}

#home h1 {
    color: #21243D;
    font-size: 3em;
    line-height: 1.5em;
}

#home p {
    color: #21243D;
    font-size: 1em;
    line-height: 2em;
}

.home-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    min-width: 320px;
    gap: 40px;
}

/* Recent Posts Section */
#recent-post {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    width: 100vw;
    background-color: #EDF7FA;
    padding: 40px;
}

.recent-post-links {
    display: flex;
    flex-direction: row;
    width: 85vw;
    max-width: 1000px;
    justify-content: space-between;
}

.recent-post-links h3 {
    font-size: 1.3em;
    font-weight: 400;
}

.recent-post-links a {
    font-size: 1em;
    color: #00A8CC;
}

.posts {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.post-n {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 418px;
    height: 295px;
    padding: 24px;
    background-color: #fff;
}

.post-n h2 {
    color: var(--primary-text-color);
}

.post-meta {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.2em;
}

/* Featured Work Section */
#featured-work {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
    width: 100vw;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

#featured-work h3 {
    font-size: 1.3em;
    font-weight: 400;
}

.work-n {
    display: flex;
    flex-direction: row;
    gap: 24px;
    min-width: 320px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #E0E0E0;
}

.work-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.work-heading {
    font-size: 1.8em;
    font-weight: 700;
}

.work-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;
}

.work-date p {
    color: #fff;
    font-weight: 900;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--primary-text-color);
}


/* Media Queries for Mobile */
@media screen and (max-width: 922px) {

    #home{
        flex-direction: column;
    }

    #home-container {
        padding-top: 0;
    }

    .pfp {
        width: 200px;
    }

    .home-description {
        text-align: center;
        align-items: center;
    }
    .home-description h1 {
        font-size: 2em !important;
    }
    .recent-post-links {
        justify-content: center;
    }

    #recent-post h4 {
        display: none;
    }

    .posts {
        flex-direction: column;
    }   
}
@media screen and (max-width: 768px) {
    .work-n {
        margin-bottom: 28px;
        flex-direction: column;
    }

    #featured-work {
        align-items: center;
    }
    .work-image {
        width: 100%;
    }
}
@media screen and (max-height: 667px) {
    #home-container {
        margin-top: 100px;
    }
    
}
@media screen and (max-width: 400px) {
    #home{
        flex-direction: column;
    }
    .post-n{
        width: 350px;
    }
}